
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shadows+Into+Light&display=swap');


* {
  font-family: 'Roboto', sans-serif;
}

@keyframes flotter {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.flottant1 {
  animation: flotter 6s ease-in-out infinite;
}

.flottant2 {
  animation: flotter 6s ease-in-out infinite;
  animation-delay: 2s;
}

.flottant3 {
  animation: flotter 6s ease-in-out infinite;
  animation-delay: 1s;
}

