@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shadows+Into+Light&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

/* iframe style responsive */
.responsive-iframe-container {
  position: relative;
  width: 100%;
  height: 450px;
  max-height: 450px;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 450px;
}

@media screen and (max-width: 1400px) {
  .responsive-iframe-container iframe {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .responsive-iframe-container iframe {
    height: 350px;
  }
}


/* Menu transition ------------------------------------------------ */
/* CSS pour le menu mobile */
#mobile-menu {
    transition: transform 0.5s ease-in-out;
}

/* Classe pour activer/désactiver la transition */
.menu-transition {
    transition: transform 0.5s ease-in-out;
}

.h_transition_24 {
    height: 96px; /* Hauteur lorsque la classe h-24 est appliquée */
    transition: height 0.2s ease-in-out; /* Transition de 0.3 seconde */
}

.h_transition_18 {
    height: 72px; /* Hauteur lorsque la classe h-18 est appliquée */
    transition: height 0.2s ease-in-out; /* Transition de 0.3 seconde */
}


/* Animation flottement ----------------------------------------------*/
.floating {
  animation: floatingAnimation 3s ease-in-out infinite;
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


/* animation underline on hover menu items --------------------------------------*/

.hover-underline-animation {
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.hover-underline-animation-white {
  position: relative;
  color: #ffffff;
}

.hover-underline-animation-white::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-white:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}