@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shadows+Into+Light&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

@keyframes flotter {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.flottant1 {
  animation: flotter 6s ease-in-out infinite;
}

.flottant2 {
  animation: flotter 6s ease-in-out infinite;
  animation-delay: 2s;
}

.flottant3 {
  animation: flotter 6s ease-in-out infinite;
  animation-delay: 1s;
}

/* iframe style responsive */
.responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Rapport largeur/hauteur (16:9) */
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 450px;
}

@media screen and (max-width: 1400px) {
  .responsive-iframe-container iframe {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .responsive-iframe-container iframe {
    height: 350px;
  }
}


/* Menu transition ------------------------------------------------ */
/* CSS pour le menu mobile */
#mobile-menu {
    /* Autres styles du menu */

    /* Initialisation de la transition */
    transition: transform 0.5s ease-in-out;
}

/* Classe pour activer/désactiver la transition */
.menu-transition {
    transition: transform 0.5s ease-in-out;
}

.h_transition_24 {
    height: 96px; /* Hauteur lorsque la classe h-24 est appliquée */
    transition: height 0.2s ease-in-out; /* Transition de 0.3 seconde */
}

.h_transition_18 {
    height: 72px; /* Hauteur lorsque la classe h-18 est appliquée */
    transition: height 0.2s ease-in-out; /* Transition de 0.3 seconde */
}

/* Animation flottement  ----------------------------------------------*/
.floating {
  animation: floatingAnimation 3s ease-in-out infinite;
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}


